.user {
  display: inline-block;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.headshot {
  background: url("../img/headshot.jpg") no-repeat center center;
  width: 100%;
}

.one {
  background-image: url("../img/michel.jpg");
}

.two {
  background-image: url("../img/sam.jpg");
}

.three {
  background-image: url("../img/steph.jpg");
}
